.FooterSection{
    line-height:0;
    height:auto;
    width:100%;
    background:red;
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    z-index: 111;
}
.div_1{
    height: 3.8rem;
    width:100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
    background: rgb(17, 22, 44);
    margin-bottom:-8px;
   
}
.div_1 .div_colum{
    color:#fff;
    display:flex;
}

.div_1 .div_colum .icons{
    font-size:1.2rem;
}
.div_1 .left_btn{
    margin-left:60px;
}
.div_1 .left_btn i{
    padding-top:10px;
    margin-right:15px;
}
.div_1 .timer{
    margin:auto
}
.div_1 .timer i{
    padding-top:17px;
    margin-right:13px;
}
.div_1 .timer span{
    font-size:1.4rem;
}
.div_1 .right_btn .buttons{
    padding-left:50px;
    display:flex;
}
.div_1 .right_btn .buttons .btn{
    width:90px;
    height:40px;
    margin:7px;
    font-size:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.div_1 .right_btn .buttons .btn i{
    margin-right:3px;
}
.div_1 .right_btn  .right_icon{
    margin-left:auto;
    margin-right:15px;
    font-size:1.8rem;
    font-weight: 500;
}





/* styling the div_2 hiding section */

.div_2{
    background-color: rgb(17, 22, 44);
    height:130px;
    display:flex;
    flex-wrap:wrap;
    padding:30px;
    box-sizing: border-box;
    transition: 0.3s all;
}

.div_2 .div_2_divs{
    width:30px;
    height:30px;
    margin:4px;
    border-radius: 50%;
    background: aqua;
    box-sizing:border-box;
    text-align:center;
    padding-top:14px;
    color:black;
}